#Environment and Secrets
.env
*.envsecrets
.yamlcredentials.json
.cache/

#Python and Data Tools
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info
.venv/
venv/
.ipynb_checkpoints
data/*.parquet*.csv*.json

#IDE and OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.history/ 